<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinghuo.mapper.TbPatentMapper" >

  <resultMap id="BaseResultMap1" type="com.xinghuo.pojo.TbPatent" >
    <id column="patent_id" property="patentId" jdbcType="INTEGER" />
    <result column="batch" property="batch" jdbcType="VARCHAR" />
    <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
    <result column="case_number" property="caseNumber" jdbcType="VARCHAR" />
    <result column="propose_number" property="proposeNumber" jdbcType="VARCHAR" />
    <result column="proposer_name" property="proposerName" jdbcType="VARCHAR" />
    <result column="law_status" property="lawStatus" jdbcType="VARCHAR" />
    <result column="patent_type" property="patentType" jdbcType="VARCHAR" />
    <result column="inventor_name" property="inventorName" jdbcType="VARCHAR" />
    <result column="propose_date" property="proposeDate" jdbcType="DATE" />
    <result column="technical_ contact" property="technical contact" jdbcType="VARCHAR" />
    <result column="writer_id" property="writerId" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <collection property="tbIndicators" ofType="com.xinghuo.pojo.TbIndicator" column="patent_id">
      <id column="ind_id" property="indId" jdbcType="INTEGER" />
      <result column="ind_details" property="indDetails" jdbcType="VARCHAR" />
      <result column="patent_id" property="patentId" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List2" >
    `patent_id`,`batch`,`patent_name`,`case_number`,`propose_number`,`proposer_name`,`law_status`,`patent_type`,`inventor_name`,`propose_date`,`technical_contact`,`writer_id`,`creator_id`,`plan_id`,`remark`
  </sql>


  <insert id="addPatent" parameterType="com.xinghuo.pojo.TbPatent" >
    insert into `tb_patent`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patentId != null or patentId == 0" >
        `patent_id`,
      </if>
      <if test="batch != null" >
        `batch`,
      </if>
      <if test="patentName != null" >
        `patent_name`,
      </if>
      <if test="caseNumber != null" >
        `case_number`,
      </if>
      <if test="proposeNumber != null" >
        `propose_number`,
      </if>
      <if test="proposerName != null" >
        `proposer_name`,
      </if>
      <if test="lawStatus != null" >
        `law_status`,
      </if>
      <if test="patentType != null" >
        `patent_type`,
      </if>
      <if test="inventorName != null" >
        `inventor_name`,
      </if>
      <if test="proposeDate != null" >
        `propose_date`,
      </if>
      <if test="technicalContact != null" >
        `technical_contact`,
      </if>
      <if test="writerId != null or writerId == 0" >
        `writer_id`,
      </if>
      <if test="creatorId != null or creatorId == 0" >
        `creator_id`,
      </if>
      <if test="planId != null or planId == 0" >
        `plan_id`,
      </if>
      <if test="remark != null" >
        `remark`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patentId != null or patentId == 0" >
        #{patentId,jdbcType=INTEGER},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null" >
        #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="proposeNumber != null" >
        #{proposeNumber,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="lawStatus != null" >
        #{lawStatus,jdbcType=VARCHAR},
      </if>
      <if test="patentType != null" >
        #{patentType,jdbcType=VARCHAR},
      </if>
      <if test="inventorName != null" >
        #{inventorName,jdbcType=VARCHAR},
      </if>
      <if test="proposeDate != null" >
        #{proposeDate,jdbcType=DATE},
      </if>
      <if test="technicalContact != null" >
        #{technicalContact,jdbcType=VARCHAR},
      </if>
      <if test="writerId != null or writerId == 0" >
        #{writerId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null or creatorId == 0" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="planId != null or planId == 0" >
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="findPatentByName" parameterType="java.lang.String"  resultType="com.xinghuo.pojo.TbPatent">
    select
    <include refid="Base_Column_List2" />
    from  `tb_patent`
    where `patent_name` = #{patentName}
  </select>


  <select id="findPatentById" parameterType="java.lang.Integer"  resultType="com.xinghuo.pojo.TbPatent">
    select
    <include refid="Base_Column_List2" />
    from  `tb_patent`
    where `patent_id` = #{patentId}
  </select>

  <update id="updPlan" parameterType="com.xinghuo.pojo.TbPatent" >
    update `tb_patent` set
      `plan_id` = #{planId,jdbcType=VARCHAR}
    where `patent_id` = #{patentId,jdbcType=INTEGER}
  </update>
</mapper>
