<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinghuo.mapper.SearchMapper">

    <resultMap id="SearchResultMap" type="com.xinghuo.pojo.TbPatent">
        <id column="patent_id" property="patentId" jdbcType="INTEGER"/>
        <result column="batch" property="batch" jdbcType="VARCHAR"/>
        <result column="patent_name" property="patentName" jdbcType="VARCHAR"/>
        <result column="case_number" property="caseNumber" jdbcType="VARCHAR"/>
        <result column="propose_number" property="proposeNumber" jdbcType="VARCHAR"/>
        <result column="proposer_name" property="proposerName" jdbcType="VARCHAR"/>
        <result column="law_status" property="lawStatus" jdbcType="VARCHAR"/>
        <result column="patent_type" property="patentType" jdbcType="VARCHAR"/>
        <result column="inventor_name" property="inventorName" jdbcType="VARCHAR"/>
        <result column="propose_date" property="proposeDate" jdbcType="TIMESTAMP"/>
        <result column="technical_contact" property="technicalContact" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>


        <association property="creator" javaType="TbUser">
            <id column="user_id" property="userId" jdbcType="INTEGER"/>
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="password" property="password" jdbcType="VARCHAR"/>
            <result column="role" property="role" jdbcType="INTEGER"/>
        </association>


        <association property="tbPlan" javaType="TbPlan">
            <id column="plan_id" property="planId" jdbcType="INTEGER"/>
            <result column="plan_content" property="planContent" jdbcType="VARCHAR"/>
        </association>

    </resultMap>


    <sql id="Column_List">
        p.patent_id,p.patent_name,p.case_number,p.propose_number,p.propose_date,p.inventor_name,
        plan.plan_content,u.user_name


    </sql>


    <!--管理員多条件查询-->
    <select id="selectByPatentInfo" resultMap="SearchResultMap">
        select <include refid="Column_List" />
        FROM  tb_patent as p,tb_plan as plan,tb_user as u
        <where>
            <if test ="patentName != null ">
                and p.patent_name like concat('%', #{patentName}, '%')
            </if>

            <if test ="caseNumber != null ">
                and p.case_number like concat('%', #{caseNumber}, '%')
            </if>

            <if test ="proposeNumber != null ">
                and p.propose_number like concat('%', #{proposeNumber}, '%')
            </if>

            <if test ="proposeDate != null ">
                and p.propose_date =#{proposeDate}
            </if>

            <if test ="inventorName != null ">
                and p.inventor_name like concat('%', #{inventorName}, '%')
            </if>

            <if test ="planId != null ">
                and p.plan_id =#{planId}
            </if>
            and p.plan_id = plan.plan_id
            ORDER BY plan.plan_id ASC
        </where>
    </select>


    <!--用戶多条件查询-->
    <select id="findCondition"  resultMap="SearchResultMap">
        select <include refid="Column_List" />
        FROM  tb_patent as p,tb_plan as plan,tb_user as u
        <where>
            <if test ="patentName != null ">
                and p.patent_name like concat('%', #{patentName}, '%')
            </if>

            <if test ="caseNumber != null ">
                and p.case_number like concat('%', #{caseNumber}, '%')
            </if>

            <if test ="proposeNumber != null ">
                and p.propose_number like concat('%', #{proposeNumber}, '%')
            </if>

            <if test ="proposeDate != null ">
                and p.propose_date =#{proposeDate}
            </if>

            <if test ="inventorName != null ">
                and p.inventor_name like concat('%', #{inventorName}, '%')
            </if>

            <if test ="planId != null ">
                and p.plan_id =#{planId}
            </if>
            and p.plan_id = plan.plan_id
            and plan.plan_id = 2;

        </where>
    </select>


</mapper>
