<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinghuo.mapper.TbDataCountMapper" >

    <resultMap id="BaseResultMap" type="com.xinghuo.pojo.DataCount" >
        <result column="patentTotal" property="patentTotal" jdbcType="BIGINT" />
        <result column="successNumber" property="successNumber" jdbcType="BIGINT" />
        <result column="falseNumber" property="falseNumber" jdbcType="BIGINT" />
        <result column="applyNumber" property="applyNumber" jdbcType="BIGINT" />
    </resultMap>

    <sql id="DataCountList" >
        patent.total patentTotal,success.counts successNumber,apply.counts falseNumber,defeat.counts applyNumber
    </sql>
    <select id="findDataCount" resultType="com.xinghuo.pojo.DataCount">
       select
       <include refid="DataCountList"/>
       from
       (select count(patent_id) total from tb_patent) patent,
       (select count(patent_id) counts from tb_patent p,tb_plan l
          where l.plan_id =7  and p.plan_id=l.plan_id) success,
       (select count(patent_id) counts from tb_patent p,tb_plan l
        where l.plan_id &gt; 7 and p.plan_id=l.plan_id) defeat,
       (select count(patent_id) counts from tb_patent p,tb_plan l
        where l.plan_id &lt; 7 and p.plan_id=l.plan_id) apply
    </select>

    <!--按照年统计公司专利数据-->
    <select id="yearCount" resultType="java.util.HashMap">
        select YEAR(p.propose_date) years,COUNT(p.patent_id) counts
        from tb_patent p,tb_plan l
        where p.plan_id=l.plan_id and p.plan_id = 7 GROUP BY YEAR(p.propose_date) ;

    </select>

    <!--按照部门统计公司专利数据(用户上级id代表部门id)-->
    <select id="deptCount" resultType="java.util.HashMap">
      SELECT d.dept_name deptName,count(p.patent_id) counts
      from tb_patent p,tb_user u,tb_dept d
      where p.creator_id = u.user_id and d.dept_id=u.user_id GROUP BY d.dept_id;
    </select>
</mapper>