<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinghuo.mapper.TbIndicatorMapper" >
    <resultMap id="BaseResultMap3" type="com.xinghuo.pojo.TbIndicator" >
    <id column="ind_id" property="indId" jdbcType="INTEGER" />
    <result column="ind_details" property="indDetails" jdbcType="VARCHAR" />
    <result column="patent_id" property="patentId" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="TbIndicatorResultMap" type="com.xinghuo.pojo.TbIndicatorExcend" extends="BaseResultMap3">
        <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
        <result column="plan_content" property="planContent" jdbcType="VARCHAR" />
        <result column="propose_date" property="proposeDate" jdbcType="TIMESTAMP" />
        <result column="proposer_name" property="proposerName" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ind_id, ind_details, patent_id
    </sql>

    <sql id="TbIndicator_List">
           i.ind_id, i.ind_details, p.patent_name,l.plan_content,p.propose_date,p.proposer_name,u.user_name,i.patent_id
    </sql>


  <!--select i.plan_content,p.propose_date,p.proposer_name,u.user_name from tb_indicator i,tb_patent p,tb_plan l,tb_user u where i.patent_id = p.patent_id and p.writer_id=u.user_id and p.plan_id=l.plan_id; -->
  <!--管理员专利指标查询-->
  <select id="findAll" resultMap="TbIndicatorResultMap">
     select
     <include refid="TbIndicator_List"/>
     from tb_patent p
      inner join tb_indicator i on i.patent_id = p.patent_id
      left join tb_user u on p.writer_id=u.user_id
      inner join tb_plan l on p.plan_id=l.plan_id

  </select>

  <!--用户专利指标查询-->
  <select id="findUserAll" resultMap="TbIndicatorResultMap">
    select
    <include refid="TbIndicator_List"/>
    from tb_patent p
      inner join tb_indicator i on i.patent_id = p.patent_id
      inner join tb_user u on p.writer_id=u.user_id
      inner join tb_plan l on p.plan_id=l.plan_id
      WHERE l.plan_id  &lt;=  2
  </select>

  <!--管理员专利指标条件查询-->
  <select id="findTerm" parameterType="com.xinghuo.pojo.TbIndicatorExcend" resultMap="TbIndicatorResultMap">
    select
    <include refid="TbIndicator_List"/>
    from tb_patent p
      inner join tb_indicator i on i.patent_id = p.patent_id
      left join tb_user u on p.writer_id=u.user_id
      inner join tb_plan l on p.plan_id=l.plan_id
     <where>
       <if test="indDetails != null">
         and i.ind_details like concat('%', #{indDetails}, '%')
       </if>
       <if test="patentName!=null">
         and p.patent_name like concat('%', #{patentName}, '%')
       </if>
       <if test="proposeNumber!=null">
         and p.propose_number = #{proposeNumber}
       </if>
       <if test="proposeDate!=null">
         and p.propose_date =#{proposeDate}
       </if>
       <if test="proposerName!=null">
         and p.inventor_name like concat('%', #{proposerName}, '%')
       </if>
       <if test="planId!=null">
         and l.plan_id = #{planId}
       </if>
     </where>
  </select>

  <!--用户专利指标条件查询-->
  <select id="findUserTerm" parameterType="com.xinghuo.pojo.TbIndicatorExcend" resultMap="TbIndicatorResultMap">
    select
    <include refid="TbIndicator_List"/>
    from tb_patent p
      inner join tb_indicator i on i.patent_id = p.patent_id
      inner join tb_user u on p.writer_id=u.user_id
      inner join tb_plan l on p.plan_id=l.plan_id

    <where>
        l.plan_id  &lt;=  2
      <if test="indDetails != null">
        and i.ind_details like concat('%', #{indDetails}, '%')
      </if>
      <if test="patentName!=null">
        and p.patent_name like concat('%', #{patentName}, '%')
      </if>
      <if test="proposeNumber!=null">
        and p.propose_number = #{proposeNumber}
      </if>
      <if test="proposeDate!=null">
        and p.propose_date =#{proposeDate}
      </if>
      <if test="proposerName!=null">
        and p.inventor_name like concat('%', #{proposerName}, '%')
      </if>
      <if test="planId!=null">
        and l.plan_id = #{planId}
      </if>
    </where>

  </select>


  <!--专利表-->
      <sql id="Base_Column_List3" >
        patent_id, batch, patent_name, case_number, propose_number, proposer_name, law_status,
        patent_type, inventor_name, propose_date, "technical_ contact", writer_id, creator_id,
        plan_id, remark
      </sql>
      <select id="findPatent" resultType="com.xinghuo.pojo.TbPatent">
          select
        <include refid="Base_Column_List3" />
        from tb_patent
      </select>

  <!--刘健-->
  <insert id="addIndicator" parameterType="com.xinghuo.pojo.TbIndicator" >
    insert into `tb_indicator`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indId != null or indId == 0" >
        `ind_id`,
      </if>
      <if test="indDetails != null" >
        `ind_details`,
      </if>
      <if test="patentId != null or patentId == 0" >
        `patent_id`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indId != null or indId == 0" >
        #{indId,jdbcType=INTEGER},
      </if>
      <if test="indDetails != null" >
        #{indDetails,jdbcType=VARCHAR},
      </if>
      <if test="patentId != null or patentId == 0" >
        #{patentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>